h1 {
  color: yellow;
  background: blue;
  line-height: 2;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,700');

$font_default: 'Raleway', sans-serif;